@media (max-width: 2000px) {
  #posts {
    grid-auto-rows: 16.8rem;
  }
}
@media (max-width: 1200px) {
  #posts {
    margin: 2.4rem 0 0 0;
  }
}

@media (max-width: 900px) {
  #posts {
    margin: 2.4rem 0 0 0;
  }
}
@media (max-width: 600px) {
  #posts {
    margin: 2.4rem 0 0 0;
  }
}
