@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600&display=swap");
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  background: rgb(var(--darkGrey));
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  background: rgb(var(--orange));
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgb(var(--orange));
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 4px;
}

:root {
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  --grey: 26, 26, 26;
  --darkGrey: 18, 18, 18;
  --orange: 230, 127, 13;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  margin: 0;
  padding: 0;
  line-height: 2.4rem;
  background: rgb(var(--grey));
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: unset;
}
h1,
h2,
h3,
h4,
p,
pre {
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 1.2rem 0;
}

/* nav */
nav {
  color: white;
  margin: 2.4rem 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 2px;
  width: 100%;
}
nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav > ul > li {
  display: inline;
  padding: 0 0 0 4.8rem;
}
.navUnderline {
  opacity: 0;
  transition: all cubic-bezier(0.26, -0.01, 0.13, 0.99) 0.25s;
  border-bottom: 1px solid rgb(var(--orange));
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.navUnderline.active {
  opacity: 1;
}
/* attributes */
.white {
  color: white;
}
.orange {
  color: rgb(var(--orange));
}
.bold {
  font-weight: 600;
}
.light {
  font-weight: 300;
}
.highlight {
  border-bottom: 1px solid rgb(var(--orange));
  padding-bottom: 1px;
}
.align {
  text-align: end;
}
.center {
  text-align: center;
}
.alpha {
  animation-name: alpha;
  animation-duration: 1s;
}

/* homepage */
#name {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 1.75px;
}
#title {
  font-size: 1.2rem;
  letter-spacing: 1.75px;
}
#me {
  padding: 7.2rem 0 2.4rem 0;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}
#headshot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}
#welcome {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#about {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#social {
  justify-self: end;
  align-self: start;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 12rem auto 1fr;
}
hr {
  border-color: rgb(var(--orange));
  width: 4.8rem;
  display: inline-block;
  right: 0px;
  margin: 0 0 2.4rem 0;
  animation-name: barGrow;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.26, -0.01, 0.13, 0.99);
}
.welcome {
  font-size: 4.8rem;
  line-height: 1;
  letter-spacing: 2.5px;
  padding: 0;
  margin: 0;
}
.subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  margin: 0 0 2.4rem 0;
  padding: 0;
}
#mainParagraph {
  font-size: 1.6rem;
  padding: 0;
  margin: 0 0 0 4.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}
#awesomeButton {
  justify-self: end;
  margin: 2.4rem 0 0 0;
  padding: 0 2.4rem;
  font-size: 1.4rem;
  border: 2px solid rgb(var(--orange));
  letter-spacing: 1px;
  line-height: 2.4rem;
  height: 2.4rem;
  overflow: hidden;
  display: block;
}
#awesomeSwitch {
  position: relative;
  text-align: center;
  transition: all cubic-bezier(0.26, -0.01, 0.13, 0.99) 0.25s;
  width: inherit;
  top: 0;
  width: 100%;
  animation-name: buttonIn;
  animation-duration: 0.75s;
}
#awesomeSwitch > * {
  line-height: 2.4rem;
}
#awesomeSwitch:hover {
  top: -2.4rem;
}
/* footer */
.open {
  bottom: 0;
}
.closed {
  bottom: calc(-7.2rem - 2px);
}
.arrows-open {
  top: -20px;
}
.arrows-closed {
  top: 20px;
}
.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.26, -0.01, 0.13, 0.99);
}
@keyframes bounce {
  from {
    padding-top: 0px;
  }
  25% {
    padding-top: 10px;
  }
  50% {
    padding-top: 0px;
  }
  75% {
    padding-top: 10px;
  }
  to {
    padding-top: 0px;
  }
}
@keyframes barGrow {
  from {
    width: 0;
  }
  to {
    width: 4.8rem;
  }
}
@keyframes alpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes buttonIn {
  from {
    top: 2.4rem;
  }
  to {
    top: 0;
  }
}

/* media queries */
@media (max-width: 2000px) {
  .headshotWrapper {
    width: 50.4rem;
  }
}
@media (max-width: 1500px) {
  .welcome {
    font-size: 4.2rem;
  }
}
@media (max-width: 1200px) {
  .navUnderline {
    display: none;
  }
  .welcome {
    font-size: 3.6rem;
    margin: 0 0 1.2rem 0;
  }
  .subtitle {
    font-size: 1rem;
    margin: 0 0 1.2rem 0;
    line-height: 1.2rem;
  }
  #name {
    font-size: 1.6rem;
  }
  #title {
    font-size: 1rem;
  }
  #mainParagraph {
    font-size: 1.6rem;
    margin: 0;
  }
  #me {
    padding: 3.6rem 0 2.4rem 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #headshot {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #welcome {
    /* height: 8.4rem; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #about {
    margin: 6rem 0 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  hr {
    margin: 0 0 1.2rem 0;
    animation-name: barGrow;
    animation-duration: 1s;
  }
  #awesomeButton {
    justify-self: start;
  }
  nav {
    display: none;
  }
  footer {
    display: block;
  }
  footer > nav {
    display: block;
    margin: 1.2rem 0 0 0;
    line-height: 1.2rem;
  }
  footer > nav > ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-gap: 2.4rem;
  }
  footer > nav > ul > li {
    padding: 0;
    margin: 0;
    line-height: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
  }
  .siteName {
    display: none;
  }
  .align {
    text-align: start;
  }
  #awesomeButton {
    border: 1px solid rgb(var(--orange));
  }
}
