@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&display=swap");

:root {
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  --darkGrey: 26, 26, 26;
  --orange: 230, 127, 13;
}
body {
  margin: 0;
  padding: 0;
  line-height: 4.8rem;
  background: rgb(var(--darkGrey));
}

/* nav */
nav {
  color: white;
  margin: 4.8rem 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  letter-spacing: 2px;
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
  padding: 0 0 0 9.6rem;
}

/* attributes */
.white {
  color: white;
}
.orange {
  color: rgb(var(--orange));
}
.bold {
  font-weight: 600;
}
.light {
  font-weight: 300;
}
.highlight {
  border-bottom: 1px solid rgb(var(--orange));
  padding-bottom: 1px;
}

/* homepage */
#name {
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  letter-spacing: 1.75px;
}
#title {
  font-size: 2rem;
  letter-spacing: 1.75px;
}
#me {
  padding: 14.4rem 0 4.8rem 0;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}
#headshot {
  width: max-content;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
#welcome {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#about {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#content {
  /* grid-gap: 4.8rem; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
hr {
  border-color: rgb(var(--orange));
  width: 19.2rem;
  display: inline-block;
  right: 0px;
  margin: 0 0 2.4rem 0;
}
h1 {
  font-size: 8.6rem;
  line-height: 1;
  letter-spacing: 2.5px;
  padding: 0;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
  letter-spacing: 0.75px;
  margin: 0 0 2.4rem 0;
  padding: 0;
}
p {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 4.8rem;
}
#awesomeButton {
  margin: 2.4rem 0 0 0;
  padding: 0 4.8rem;
  float: right;
  font-size: 2.4rem;
  width: max-content;
  border: 2px solid rgb(var(--orange));
  letter-spacing: 1px;
}

/* misc */
.clearFix {
  clear: both;
}

/* media queries */
@media (min-width: 1200px) {
  .align {
    text-align: end;
  }
}
@media (max-width: 768px) {
  #me {
    padding: 14.4rem 0 4.8rem 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #headshot {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #welcome {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #about {
    margin: 14.4rem 0 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  #awesomeButton {
    float: none;
  }
  nav {
    display: none;
  }
  :root {
    font-size: 5px;
  }
  .align {
    text-align: start;
  }
  nav {
    display: none;
  }
  :root {
    /* font-size: 5px; */
  }
  .align {
    text-align: start;
  }
}
