footer,
footer > * {
  border-color: rgb(var(--orange));
  background: rgb(var(--darkGrey));
}
footer {
  position: fixed;
  height: 4.8rem;
  width: 100vw;
  border-style: solid;
  border-width: 0 0 0 0;
  transition: all cubic-bezier(0.26, -0.01, 0.13, 0.99) 0.5s;
}
#tab {
  width: 14.4rem;
  height: 2.4rem;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-99%);
  border-style: solid;
  border-width: 1px 1px 0 1px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#copyright {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 1.2rem;
  margin: 1.2rem 0 0 0;
}
#arrow {
  border: solid rgb(var(--orange));
  border-width: 0 2px 2px 0;
  padding: 5px;
  transition: all cubic-bezier(0.26, -0.01, 0.13, 0.99) 0.5s;
}
#arrows {
  display: grid;
  grid-gap: 2.4rem;
  position: relative;
  transition: all cubic-bezier(0.26, -0.01, 0.13, 0.99) 0.5s;
}
.up {
  transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
}
.footerNav,
.footerIcon {
  display: none;
}

@media (max-width: 1200px) {
  .footerNav {
    display: block;
  }
  footer {
    height: 7.2rem;
    border-width: 1px 0 0 0;
  }
  #tab {
    display: flex;
  }
  #copyright {
    font-size: 1rem;
    margin: 0;
  }
}
