.socialIcons {
  padding: 2.4rem 0 0 0;
}
.socialIcon {
  margin: 0 0 0 2.4rem;
  width: 2.4rem;
}
@media (max-width: 1200px) {
  .socialIcons {
    display: none;
  }
  .socialIcons > a {
    justify-self: center;
  }
  footer > .socialIcons {
    margin: 1.2rem 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 2.4rem);
    grid-gap: 2.4rem;
    grid-template-rows: 2.4rem;
    justify-content: center;
    line-height: 2.4rem;
    padding-bottom: 1.2rem;
  }
  .socialIcon {
    width: 2.4rem;
    margin: 0;
  }
}
